.square{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.container{
    display: flex;
    gap: 10px;
}

.mega-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
    width: 6.65rem;
    height: 2rem;
}